<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.invapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PanelEmpleado"></activity>
        <activity android:name=".PedidosEmpleado"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".InventarioEmpleado"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".InterfazEmpleado"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".Proveedores"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".Pedidos"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".Empleados"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".Inventario"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".CodigoExitoso"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".ContraExitoso"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".EditarCodigo"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name=".EditarContrasena"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".PanelAdministrador"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".RegistroExitoso"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".RegistroAdmin2"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".RegistrarHuellaAdmin"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".IniciaHuella"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".InterfazAdmin"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".RegistroAdmin"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".OlvidoContraAdmin"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".InicioEmpleado"
            android:label="@string/title_activity_inicio_empleado"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".InicioAdministrador" />
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>